{% extends 'base.html' %}

{% block body %}


<form method="post" action="/predict">
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="Enter Vehicle Age"  name="age">
      </div>

      <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="text" class="form-control" id="mileage" placeholder="Enter Mileage" name="mileage">
      </div>

    <div class="form-group">
      <label for="strock">Strock</label>
      <select class="form-control form-control-sm"  name="stroke">
        <option value="2 stroke">2 Strock</option>
        <option value="4 stroke">4 Strock</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if prediction %}

  <div class="alert alert-dark mt-5" role="alert">
     ESTIMATED PRICE IS  <h2><b>{{prediction}} LKR</b></h2>
  </div>


  {% endif %}


{% endblock %}
