{% extends 'base.html' %}

{% block body %}

<h1>SUZUKI</h1>


<form method="post" action="/predict">

      <div class="form-group">
        <input type="hidden" name="manufacture" value="suzuki">
      </div>

      <div class="form-group">
        <label for="yom">YOM</label>
        <input type="number" class="form-control" id="yom" placeholder="Enter YOM"  name="yom" required>
      </div>

    <div class="form-group">
      <label for="model">Model</label>
      <select class="form-control form-control-sm"  name="model">

        {% for model in model_options %}
                    <option value="{{ model }}">
                        {{ model }}
                    </option>
        {% endfor %}
        
      </select>
    </div>

     <div class="form-group">
        <label for="engine_capacity">Engine Capacity</label>
        <input type="number" class="form-control" id="engine_capacity" placeholder="Enter Engine Capacity" name="engine_capacity" required>
      </div>

    <div class="form-group">
      <label for="fuel">Fuel Type</label>
      <select class="form-control form-control-sm"  name="fuel">
        {% for fuel_type in fuel_type_options %}
                    <option value="{{ fuel_type }}">
                        {{ fuel_type }}
                    </option>
        {% endfor %}
        
      </select>
    </div>

    <div class="form-group">
        <label for="transmission">Transmission Type</label>
        <select class="form-control form-control-sm"  name="transmission">
            {% for transmission in transmission_options %}
            <option value="{{ transmission }}">
                {{ transmission }}
            </option>
            {% endfor %}
          
        </select>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if prediction %}

  <div class="alert alert-dark mt-5" role="alert">
     ESTIMATED PRICE IS  <h2><b>{{prediction}} LKR</b></h2>
  </div>


  {% endif %}


{% endblock %}
